<section>
  <div class="container gallery">
    <ul class="card-set">
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/image-1.jpg" alt="" />
          </div>

          <div class="event-info">
            <p class="event-name">Event 1</p>
            <p class="event-date">Date</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href=""></use>
              </svg>
              Location
            </a>
          </div>
        </article>
      </li>
    </ul>
    <ul class="pagination">
      <li class="previous-page"><a href="#" class="prev">< Prev</a></li>
      <li class="page-number page-active"><a href="#">1</a></li>
      <li class="page-number"><a href="#">2</a></li>
      <li class="page-number"><a href="#">3</a></li>
      <li class="page-number"><a href="#">4</a></li>
      <li class="page-number"><a href="#">5</a></li>
      <li class="page-number"><a href="#">...</a></li>
      <li class="page-number"><a href="#">29</a></li>
      <li class="next-page"><a href="#" class="next">Next ></a></li>
    </ul>
  </div>
</section>
