<section>
  <div class="container gallery">
    
    <ul class="card-set">
      <!-- <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li>

      <li class="item">
        <article class="card">
          <div class="card-thumb">
            <img class="card-image" loading="lazy" src="./images/rectangle.png" alt="" />
          </div>
          <div class="event-info">
            <h5 class="event-name">MONATIK</h5>
            <p class="event-date">2021-07-17</p>
            <a href="" class="location-link">
              <svg class="icon-location" width="7" height="10">
                <use href="../src/images/sprite.svg#icon-location"></use>
              </svg>
              VDNH
            </a>
          </div>
        </article>
      </li> -->
    </ul>

    <div class="pagination-container">
      <button type="button" class="pagination-button" data-action="decrement"><</button>
      <ul class="pagination">
        <li class="page-number active-page"><a class="pag-link" href="#">1</a></li>
        <li class="page-number"><a class="pag-link" href="#">2</a></li>
        <li class="page-number"><a class="pag-link" href="#">3</a></li>
        <li class="page-number"><a class="pag-link" href="#">4</a></li>
        <li class="page-number"><a class="pag-link" href="#">5</a></li>
        <li class="page-number"><a class="pag-link" href="#">...</a></li>
        <li class="page-number"><a class="pag-link" href="#">25</a></li>
      </ul>
      <button type="button" class="pagination-button" data-action="increment">></button>
    </div>
  </div>
</section>
