<section>
  <div class="container gallery">
    
    <ul class="card-set"></ul>

    <div class="pagination-container">
      <button type="button" class="pagination-button" data-action="decrement">&#60</button>
      <ul class="pagination">
        <li class="page-number active-page"><a class="pag-link" href="#">1</a></li>
        <li class="page-number"><a class="pag-link" href="#">2</a></li>
        <li class="page-number"><a class="pag-link" href="#">3</a></li>
        <li class="page-number"><a class="pag-link" href="#">4</a></li>
        <li class="page-number"><a class="pag-link" href="#">5</a></li>
        <li class="page-number"><a class="pag-link" href="#">...</a></li>
        <li class="page-number"><a class="pag-link" href="#">25</a></li>
      </ul>
      <button type="button" class="pagination-button" data-action="increment">&#62</button>
    </div>
  </div>
</section>
