<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="close-window" data-modal-close>
      <svg width="25" height="25" class="close-icon">
        <use href="../src/images/sprite.svg#icon-cross-icon"></use>
      </svg>
    </button>
    <!-- див circle-plug потом удалить-для наглядности -->
    <div class="circle-plug"></div>
    <!-- <img src="../src/images/event-pic-circle.png" alt="" width="132" class="preview-circle"> -->

    <div class="foto-info">
      <!-- див rectangle-plug потом удалить-для наглядности -->
        <div class="rectangle-plug"></div>
        <!-- <img src="../src/images/event-pic-big.jpeg" alt="" width="360" class="event-pic-big"> -->

      <div class="event-info">
        <h3 class="event-title">INFO</h3>
        <p class="event-description text-info">Atlas Weekend is the largest music festival in Ukraine.More than 200 artists will create a proper music festival
          atmosphere on 10 stages</p>
        <h3 class="event-title">WHEN</h3>
        <p class="event-date text-info"><span class="date">2021-06-09</span><span class="time">20:00 (Kyiv/Ukraine)</span></p>
        <h3 class="event-title">WHERE</h3>
        <p class="event-location text-info"><span class="country-city">Kyiv, Ukraine</span><span class="venue">VDNH</span></p>
        <h3 class="event-title">WHO</h3>
        <p class="author-name text-info">The Black Eyed Peas</p>
        <h3 class="event-title">PRICES</h3>
        <ul class="pricelist">
          <li class="item">
            <div class="price-line">
              <svg width="30" height="20" class="close-icon">
                <use href="../src/images/sprite.svg#icon-barcode-icon"></use>
              </svg>
              <p class="standard-price text-info">Standart 300-500 UAH</p>
            </div>
            <button class="button btn-buy-standart tickets">BUY TICKETS</button>
          </li>
          <li class="item">
            <div class="price-line">
              <svg width="30" height="20" class="close-icon">
                <use href="../src/images/sprite.svg#icon-barcode-icon"></use>
              </svg>
              <p class="vip-price text-info">VIP 1000-1500 UAH</p>
            </div>
            <button class="button btn-buy-vip tickets">BUY TICKETS</button>
          </li>
        </ul>

      </div>

    </div>
    <button class="more-author-events">MORE FROM THIS AUTHOR</button>

  </div>
</div>
