.gallery {
  position: relative;
  top: -46px;
  z-index: 999;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 80px;
}

.item {
  @media screen and (min-width: $mobile) and (max-width: $max-mobile) {
    flex-basis: calc(100% / 2 - 7px);

    &:not(:nth-child(-n + 2)) {
      margin-top: 39px;
    }

    &:not(:nth-child(2n + 1)) {
      margin-left: 14px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
    flex-basis: calc(100% / 3 - 18px);

    &:not(:nth-child(-n + 3)) {
      margin-top: 58px;
    }

    &:not(:nth-child(3n + 1)) {
      margin-left: 27px;
    }
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 4 - 54px);

    &:not(:nth-child(-n + 4)) {
      margin-top: 63px;
    }

    &:not(:nth-child(4n + 1)) {
      margin-left: 70px;
    }
  }
}

.card {
  text-align: center;
  border-radius: 50px 0 0 0;
  position: relative;
  top: 0;
  left: 0;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    border: 1px solid rgba(220, 86, 197, 0.3);
    border-radius: 50px 0px;

    @media screen and (min-width: $mobile) {
      width: 110px;
      height: 100px;
      top: -10px;
      right: -10px;
    }

    @media screen and (min-width: $tablet) {
      width: 153px;
      height: 143px;
      top: -14px;
      right: -14px;
    }
  }
}

.card-thumb {
  overflow: hidden;
  border-radius: 50px 0px;
}

.card-image {
  @media screen and (min-width: $mobile) {
    height: 161px;
  }

  @media screen and (min-width: $tablet) {
    height: 227px;
  }
}

.event-info {
  padding-top: 5px;
  font-family: $font-montserrat;

  @media screen and (min-width: $mobile) {
    .event-name {
      @include font-data(14px, $title-text-color, 700, 1.2);
    }

    .event-date {
      @include font-data(14px, $subtitle-text-color, 400, 1.2);
    }

    .location-link {
      @include font-data(12px, $subtitle-text-color, 600, 1.25);
    }
  }

  @media screen and (min-width: $tablet) {
    .event-name {
      @include font-data(16px, $title-text-color, 700, 1.25);
    }

    .event-date {
      @include font-data(16px, $subtitle-text-color, 400, 1.25);
    }

    .location-link {
      @include font-data(14px, $subtitle-text-color, 600, 1.2);
    }
  }
}

.event-name,
.event-date {
  margin-bottom: 5px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  background-color: inherit;
  color: $subtitle-text-color;
  border-color: transparent;
  cursor: pointer;
}

.pagination a,
.pagination-button {
  color: $subtitle-text-color;

  &:focus,
  &:hover {
    color: $title-text-color;
  }
}

.page-number {
  padding: 5px 12px;
  margin-left: 5px;

  &.active-page {
    border-style: solid;
    border: 1px solid $title-text-color;
    border-radius: 10px 0px;

    & .pag-link {
      color: $title-text-color;
    }
  }
}
