.header {
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: $mobile) {
    height: 364px;
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
      url(../images/header-img-mobile.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url(../images/header-img-mobile@2x.jpg);
    }
  }

  @media screen and (max-width: $tablet) {
    height: 364px;
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
      url(../images/header-img-tablet.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url(../images/header-img-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    height: 446px;
    background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
      url(../images/header-img-pc.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(11, 11, 11, 0.5), rgba(13, 13, 13, 0)),
        url(../images/header-img-pc@2x.jpg);
    }
  }
}

.elements {
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1px;
    background: $elements-border-color;
    box-sizing: border-box;

    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
      top: 0;
      bottom: 0;
      left: 11vw;
    }

    @media screen and (min-width: $desktop) {
      top: 0;
      bottom: 0;
      left: 9vw;
    }

    @media screen and (min-width: $min-desktop) {
      top: 0;
      bottom: 0;
      left: 13vw;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 1px;
    background: $elements-border-color;
    box-sizing: border-box;

    @media screen and (min-width: $tablet) and (max-width: $max-tablet) {
      top: 0;
      bottom: 0;
      right: 11vw;
    }

    @media screen and (min-width: $desktop) {
      top: 0;
      bottom: 0;
      right: 9vw;
    }

    @media screen and (min-width: $min-desktop) {
      top: 0;
      bottom: 0;
      right: 13vw;
    }
  }
}

.title {
  color: $title-text-color;
  font-family: Montserrat;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
  @media screen and (max-width: $max-mobile) {
    padding-top: 78px;
    padding-bottom: 25px;
    font-size: 18px;
    line-height: 1.22;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 27px;
    font-size: 30px;
    line-height: 1.23;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 52px;
    font-size: 50px;
    line-height: 1.22;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    border: 1px solid $elements-border-color;
    box-sizing: border-box;
    border-radius: 0 100% 0 0;

    @media screen and (min-width: $tablet) {
      width: 237px;
      height: 237px;
      bottom: 40%;
      left: 4vw;
    }

    @media screen and (min-width: $desktop) {
      width: 335px;
      height: 335px;
      bottom: 35%;
    }

    @media screen and (min-width: $min-desktop) {
      left: 9vw;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    border: 1px solid $elements-border-color;
    box-sizing: border-box;
    border-radius: 100% 0 0 0;

    @media screen and (min-width: $tablet) {
      width: 237px;
      height: 237px;
      top: 27%;
      right: 4vw;
    }

    @media screen and (min-width: $desktop) {
      width: 335px;
      height: 335px;
      top: 21%;
    }

    @media screen and (min-width: $min-desktop) {
      right: 9vw;
    }
  }
}

.input,
.js-form-country {
  width: 270px;
  height: 40px;
  border-radius: 20px;
  border-width: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.2);
  color: $input-color;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}

input[type='text']::-webkit-input-placeholder {
  color: $footer-text-color;
  font-weight: normal;
}

input[type='text']::-moz-placeholder {
  color: $footer-text-color;
  font-weight: normal;
}

.input {
  @media screen and (max-width: $max-mobile) {
    margin-bottom: 25px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }

  &::placeholder {
    color: $footer-text-color;
  }
}

.form-container {
  @media screen and (max-width: $max-mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.img__logo {
  position: fixed;
  z-index: 1;
}

.bcg-logo {
  border-radius: 50%;
  position: fixed;

  background: linear-gradient(
    136.07deg,
    rgba(196, 196, 196, 0.03) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );
  backdrop-filter: blur(30px);
  transform: rotate(-90deg);
  @media screen and (max-width: $max-mobile) {
    width: 180px;
    height: 213.97px;
    left: -93px;
    top: -105px;
  }

  @media screen and (min-width: $tablet) {
    width: 359px;
    height: 302px;
    left: -156px;
    top: -172px;
  }

  @media screen and (min-width: $desktop) {
    width: 477px;
    height: 402px;
    left: -204px;
    top: -242px;
  }
}
